<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>DSA-Tool</title>
</head>
<body>

<div class="container-fluid">
    <div class="row" style="background-color: #e0ddcf;">
        <div class="col col-lg-2" style="background-color: #474448;"></div>
        <div class="col col-lg-8">
            {% include 'navigation.html.twig' %}
        </div>
        <div class="col col-lg-2"></div>
    </div>

    <div class="row">
        <div class="col col-lg-2" style="background-color: #474448;">
            - linkes Menü -
        </div>
        <div class="col col-lg-8" style="background-color: #e0ddcf;">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            {% block content %}
                <h1>Die Seite, auf die du zugreifen möchtest, existiert noch nicht.</h1>
            {% endblock %}
        </div>
        <div class="col col-lg-2" style="background-color: #e0ddcf;">
            {% if is_granted('ROLE_USER') %}
                {{ render(controller('App\\Controller\\HeadwordController::getHeadwords')) }}
            {% endif %}
        </div>

    </div>

    <div class="row">
        <div class="col col-lg-12" style="background-color: #e0ddcf;">
            {% include 'footer.html.twig' %}
        </div>
    </div>
</div>
</body>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>





