{% extends "base_layout.html.twig" %}

{% block navigation %}
            {% include 'navigation.html.twig' %}
{% endblock navigation %}

{% block main %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% block content %}
            <h1>Die Seite, auf die du zugreifen möchtest, existiert noch nicht.</h1>
        {% endblock %}

{% endblock main %}

{% block sidebar %}

        {% if is_granted('ROLE_USER') %}
            {{ render(controller('App\\Controller\\HeadwordController::getHeadwords', {campaignId: app.request.get('campaignId')})) }}
        {% endif %}

{% endblock sidebar %}