{% extends "base.html.twig" %}

{% block content %}

    <h1>Schlagwörter löschen</h1>
    <br>


    {% for headword in headwords %}
        <div class="form-group col-md-8">
            <a class="btn btn-danger" role="button" href="{{ path('delete_headword_confirmation', {id: headword.id}) }}">
                Löschen
            </a>
            <span class="lead"><strong>{{ headword.headwordName }}</strong></span>
        </div>

    {% endfor %}



{% endblock %}